
@media (min-width: 1200px) and (max-width: 1599px) {
    .ltn__slide-item-2 .slide-title {
        font-size: 65px;
    }
}

@media (max-width: 767px) {
    .ltn__slide-item-2 .slide-title {
        font-size: 35px;
    }
}

@media (max-width: 1199px) {
    .ltn__slide-item-2 {
        padding-top: 600px;
    }
}

@media (max-width: 768px) {
    .danny--form-step {
        padding: 1rem;
    }

    .danny--car-name,
    .danny--car-availability {
        padding-left: 0;
    }

    .ltn__car-dealer-form-area {
        top: -1rem;
    }

    .footer-top-area {
        padding-top: 2rem;
    }
}

@media (max-width: 449px) {
    .get-support .get-support-icon {
        font-size: 35px;
        display: block;
    }
}